<h2 class="center">Home page</h2>

<div class="form-group text-field">
  <input class="form-control form-control-lg" type="text" placeholder="Filter by name or description" (keyup)="handleFilterChange($event)">
</div>

<div class="row item">
  <app-card-beer [beer]="item" *ngFor="let item of (state | async).content" class="col-xs-12 col-sm-12 col-md-12 col-lg-6"></app-card-beer>
</div>


<div class="body" *ngIf="(state | async).content.length === 0">
  <h4>No beers found for '{{filter}}'.</h4>
</div>

<app-pagination *ngIf="(state | async).content.length > 0" [page]="(state | async)" (currentPage)="changePage($event)"></app-pagination>
